
/* global */
html, body {
  margin: 0;
  padding: 0;
  background: #FFFaF5;
  height:100%;
  font-family: Calibri, Ubuntu, sans-serif;
  color: #444;
}

h1,h2 {
  text-align: center;
}
h2 {
  font-style: italic;
}
h3{
  border-bottom: 2px dotted #F85;
  margin-top: 3em;
}

ul {
  list-style: none;
  padding: 0;
}
li:before {
  content: "\01F609";
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: #F85;
  text-shadow: 1px 1px 1px #F85;
}
a:hover {
  text-shadow: 2px 2px 3px #F85;
}
a:active {
  /* text-shadow: -2px -2px 1px #C95;
  box-shadow: -2px -2px 1px #C95; */
  text-shadow: 0 0 0;
}

button {
  margin: 1em ;
  border : 3px solid #F85;
  display: flex;
  justify-content: center;
  align-items: center;
  height : 2.7em;
  width : 2.7em;
  border-radius: 1.4em;
  background: rgba(255,255,255,0);
  box-shadow: 1px 1px 1px #F85;
  color: #F85;
  text-shadow: 1px 1px 1px #F85;
}
button:hover {
  box-shadow: 2px 2px 3px #F85;
  text-shadow: 2px 2px 3px #F85;
}
button:active {
  box-shadow: 0 0 0;
  text-shadow: 0 0 0;
}
button:focus {
  outline: none;
}

pre {
  overflow: auto;
  box-shadow: inset 2px 2px 3px #468;
  outline: 1px solid #468;
  padding: 1em;
  background: #123;
  color: #CCC;
}


/* elements */
#navButton {
  position: fixed;
  top: 0;
  left: 0;
}

#mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

#mainNav {
  padding-top: 1em; /*for button*/
  padding-right: 1em;
  background: #EDC;
  overflow: auto;
  display: none;
}

#bodyContainer {
  flex: 1;
  background: #FeFdFc;
  overflow: auto;
  padding-left: 3em;
  padding-right: 3em;
}
